body {
  font-family: "Open Sans";
}

#button {
  margin: 4px;
  position: absolute;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  padding: 4px;
}

.container {
  width: 90%;
  margin-top: 50px;
  background-color: rgb(192, 189, 189);
  padding: 10px;
}
